WL2K-go as RMS Realy

Hi,

I have question that wl2k-go is possible use as rms relay ??? 



You could certainly build something like RMS Relay using the wl2k-go _framework_, but the [wl2k client](https://github.com/la5nta/wl2k-go#cmdwl2k-the-client-application) does not support these features.

A simple implementation could be done without much hassle I believe, using these three packages:
* [github.com/la5nta/wl2k-go/transport](https://godoc.org/github.com/la5nta/wl2k-go/transport) (to support winmor, ardop, telnet and ax25)
* [github.com/la5nta/wl2k-go/mailbox](https://godoc.org/github.com/la5nta/wl2k-go/mailbox) (for store-and-forward)
* [github.com/la5nta/wl2k-go/fbb](https://godoc.org/github.com/la5nta/wl2k-go/fbb) (for the B2F-protocol)

It would be nice if anyone would take this challenge and build an open source RMS Relay clone :+1: 

Thank you for information. I am asking about this because I have use BPQMail as RMS Relay but I have found one problem that during getting message from BPQMial via RMS Express BPQMial cut of subject to max 60 chars when we use RMS Express to send Radiogram IARU which have defined 
SUBJECT which contain more than 60 chars information.

FYI, an email header _should_ not exceed 78 characters according to RFC 2822, section 2.1.1. That leaves 69 characters for the actual subject, unless they support multi-line headers. Maybe this is the reason BPQMail trims the subject, I don't know.

I'm sorry that I can't be more helpful. I think you're proposal sounds like a very fun and useful sub-project, but until we get more contributors I believe my main priority must be to work on the client application and improving the framework.

I hope developers will see this project as a good framework for developing more open source Winlink tools. Hopefully we'll see server-side applications providing the features you're looking for :)